body {
    position: center;
    background: url(background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* .container {     */
    /* font-size: 25px;
    text-align: center;
    line-height: 2;
    color: white; */
/* } */

#main-content {   
    background-color: lightblue;
    align-content: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 75px;  
    margin-bottom: 100px;
    border: dashed 3px;
    /* height: 40%;
    width: 100%; */
    
}

/* #display {
    
} */

#stats {
    line-height: 3;
}

/* #emptySpace {
    width: 30%;
} */

